body {
	background-color: #a6a6a6;
}
#headh1{
	font-size: 48px;
	text-align: center; 
}
.menu{
	font-family: arial;
	font-size: 20px;
	margin: 10px;
}
#img{
	
}
a:hover{
	color: white;
	text-decoration: none;
	
}
a{
	text-decoration: none;
	color: black;
}
p{
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	text-align: center;
}
.down{
	text-align:right;
}
nav{
	text-align:center;
	border:0px white;
	padding: 2px;
	font-size: 20px;
}
.geo{
	text-align:center;
}
.ae{
	text-align:center;
}
.ca{
	text-align: center;
}
table,th,td{
	text-align: center;
	padding: 3px;
	border-spacing: 5px 10px;
	border: 1px solid black;
	
	
}   
	
	
#caimg{
	height: 320px;
	width: 450px;
}
#aeimg{
	height: 320px;
	width: 450px;
}